.ExpenseTable{
  font-family: 'Segoe UI', sans-serif;
text-align: center;
width:1000px;
border-collapse: collapse;
margin-left:2%;
margin-right:2%;
border:solid 1px rgb(182, 182, 182);;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
height: max-content;
}

.ExpenseTable tr{
  text-align: left;
}
.ExpenseTable tbody tr{
  height:40px;
}
.ExpenseTable .rows:hover {
  background-color: #f9f9f9;
}
.ExpenseTable tbody tr:nth-child(odd) {
    background-color: #dddfdf;
  }

  .ExpenseTable tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  .ExpenseTable th {
    padding: 12px;
    text-align: left;
    font-size: 0.9rem;
    background-color: #444;
    color: white;
    border-bottom: 1px solid #ddd;
  }
.ExpenseTable .totalRow td{
    border-top:solid 1px ;
    border-bottom: solid 1px ;
    text-align:right;
    padding: 14px;
  font-weight: bold;
  background-color: #f0f8ff;
  border-top: 2px solid #ccc;
}
.ExpenseTable tbody tr{
    font-size:16px;
}

.trashBtn {
  color: #cc0000;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.trashBtn:hover {
  color: #e60000;
}
.ExpenseTable .rows td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  color: #444;
}
